<div class="input-container" [class.label-top]="labelPosition === 'top'">
  <div class="switch-row">
    <p-toggleswitch
      [ngModel]="value"
      (ngModelChange)="onModelChange($event)"
      [size]="$any(size)"
      [trueValue]="trueValue"
      [falseValue]="falseValue"
      [disabled]="disabled"
      [readonly]="readonly"
      [invalid]="isInvalid"
      [ariaLabel]="label"
    />
    @if (label) {
      <label class="label">
        {{ label }}
        @if (required) {
          <span class="required-asterisk">*</span>
        }
      </label>
    }
  </div>

  @if (isMessageVisible) {
    <app-message
      [severity]="displaySeverity"
      [variant]="messageVariant"
      [materialIcon]="materialIcon"
      [text]="displayMessage"
      size="small"
    />
  }
</div>
